<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Projektmanager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css"/>
	<script src="../../js/bootstrap.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Kiwano Projektmanager</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Projekte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/persons">Personen</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/reports">Reports<span class="sr-only">(current)</span></a>
          </li>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link" th:text="${#dates.format(#dates.createNow(), 'dd MMMM yyyy')}"></span>
            </li>
        </ul>
    </div>
    </nav>
	
	
    <main role="main" class="container mt-5">
    	<h1><span th:text="${activeProject.getName()}"></span> Kostenplan</h1>
    	
    	<h4>Geplantes Budget: 
    		<span th:text="'CHF ' + ${#numbers.formatDecimal(activeProject.getBudget(), 0, 'DEFAULT', 0, 'DEFAULT')}"></span></h4>
    	<h4>Aktuelle Kosten: 
    		<span th:text="'CHF ' + ${#numbers.formatDecimal(fullCosts, 0, 'DEFAULT', 0, 'DEFAULT')}"></span>
    	</h4>
    
    	<p th:text="${activeProject.getDescription()}"></p>
    	<br>
    	<table class="table table-striped table-sm">
			<thead>
				<tr>
					<!--<th>ID</th>-->
					<th>Wert</th>
					<th style="width: 10%">Aktionen</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="budget : ${list}">
					<!--<td th:text="${budget.getId()}"></td>-->
					<td th:text="'CHF ' + ${#numbers.formatDecimal(budget.getValue(), 0, 'DEFAULT', 0, 'DEFAULT')}"
						th:classappend="|${budget.getValue() < 0 ? 'text-success' : ''} 
										${budget.getValue() > 0 ? 'text-danger' : ''}|">
					<td>
						<!--<a href="" th:href="${'/reports/person?id=' + person.getId()}" title="Bearbeiten"><span class="fa fa-pencil"></span></a>-->
						<a href="" th:href="${'/reports/budget/project/delete?id=' + budget.getId()}" title="Löschen"><span class="fa fa-trash"></span></a>
					</td>
				</tr>
			</tbody>
		</table>

		<!--<a href="/persons/person">neue Person hinzufügen</a>-->
		
		<br>
		<h1>Neue Kosten hinzufügen</h1>
		<form action="#" th:action="${postAction}" method="post" th:object="${budgetDetail}">
				<input type="hidden" name="budgetDetail.id" th:value="*{id}" /> 
				<input type="hidden" name="budgetDetail.project_id" th:value="${activeProject.getId()}" />
				  <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Neue Kosten</label>
				    <div class="col-sm-10">
				      <input type="number" step="0.01" class="form-control form-control-sm col-sm-6" placeholder="0" name="budgetDetail.value" th:value="*{value}" />
				    </div>
				 	
				</div>
				<button class="btn btn-primary" type="Submit">Hinzufügen</button>
				<a class="btn btn-link" href="/reports">Zurück</a>
			</form>
		
	</main>
</body>
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
	<div class="footer-copyright py-3 text-center">
		<span>
			&#9400; Kiwano Projektteam, 2018
		</span>
	</div>
</footer>
</html>