<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Projektmanager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css"/>
	<script src="../../js/bootstrap.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Kiwano Projektmanager</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Projekte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/persons">Personen</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/reports">Reports<span class="sr-only">(current)</span></a>
          </li>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link" th:text="${#dates.format(#dates.createNow(), 'dd MMMM yyyy')}"></span>
            </li>
        </ul>
    </div>
    </nav>
	
	
    <main role="main" class="container mt-5">
    	<h1><span th:text="${activeProject.getName()}"></span> Terminplan</h1>
    	
    	<h4>Startdatum: 
    		<span th:text="${activeProject.getStartDate()}"></span></h4>
    	<h4>Enddatum: 
    		<span th:text="${activeProject.getEndDate()}"></span></h4>
    	</h4>
    	
    	<p th:text="${activeProject.getDescription()}"></p>
    	<br>
    	<table class="table table-striped table-sm">
			<thead>
				<tr>
					<!--<th>ID</th>-->
					<th>Beschreibung</th>
					<th>Datum</th>
					<th>Abgeschlossen</th>
					<th style="width: 10%">Aktionen</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="milestone : ${list}">
					<!--<td th:text="${milestone.getId()}"></td>-->
					<td th:text="${milestone.getDescription()}"></td>
					<td th:text="${milestone.getDate()}"></td>
					<td th:text="|${milestone.getCompleted() == 1 ? 'Ja' : ''}
								  ${milestone.getCompleted() != 1 ? 'Nein' : ''}" 
						th:classappend="|${milestone.getCompleted() == 1 ? 'text-success' : ''} 
										 ${milestone.getCompleted() != 1 ? 'text-danger' : ''}|"></td>
					<td>
						<a href="" th:href="${'/reports/milestone/project/complete?id=' + milestone.getId()}" title="Abschliessen"><span class="fa fa-check"></span></a>
						<a href="" th:href="${'/reports/milestone/project/delete?id=' + milestone.getId()}" title="Löschen"><span class="fa fa-trash"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<br>
		<h1>Neuen Meilenstein hinzufügen</h1>
		<form action="#" th:action="${postAction}" method="post" th:object="${milestoneDetail}">
				<input type="hidden" name="milestoneDetail.id" th:value="*{id}" /> 
				<input type="hidden" name="milestoneDetail.project_id" th:value="${activeProject.getId()}" />
				<input type="hidden" name="milestoneDetail.completed" th:value="0" />
				  <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Beschreibung</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control form-control-sm col-sm-6" placeholder="Beschreibung" name="milestoneDetail.description" th:value="*{description}" />
				    </div>
				 </div>
				 <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Datum</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control form-control-sm col-sm-6" placeholder="Datum" name="milestoneDetail.date" th:value="*{date}" />
				    </div>
				  
					
				 </div>
				 <button class="btn btn-primary" type="Submit">Hinzufügen</button>
				 <a class="btn btn-link" href="/reports">Zurück</a>
			</form>
		
	</main>
</body>
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
	<div class="footer-copyright py-3 text-center">
		<span>
			&#9400; Kiwano Projektteam, 2018
		</span>
	</div>
</footer>
</html>