<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Projektmanager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<script src="js/bootstrap.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Kiwano Projektmanager</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Projekte</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/persons">Personen<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Reports</a>
          </li>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link" th:text="${#dates.format(#dates.createNow(), 'dd MMMM yyyy')}"></span>
            </li>
        </ul>
    </div>
    </nav>
	
	
    <main role="main" class="container mt-5">
    	<h1>Personenübersicht</h1>
    	<table class="table table-striped table-sm">
			<thead>
				<tr>
					<!--<th>ID</th>-->
					<th>Name</th>
					<th>Vorname</th>
					<th>Rolle</th>
					<th>Aktionen</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="person : ${list}">
					<!--<td th:text="${person.getId()}"></td>-->
					<td th:text="${person.getName()}"></td>
					<td th:text="${person.getFirstname()}"></td>
					<td th:text="${person.getRole()}"></td>
					<td><!--<a href="" th:href="${'/persons/person?id=' + person.getId()}" title="Steckbrief"><span class="fa fa-search"></span></a>-->
						<a href="" th:href="${'/persons/person?id=' + person.getId()}" title="Bearbeiten"><span class="fa fa-pencil"></span></a>
						<a href="" th:href="${'/persons/person/delete?id=' + person.getId()}" title="Löschen"><span class="fa fa-trash"></span></a>
					</td>
				</tr>
			</tbody>
		</table>

		<a href="/persons/person">neue Person hinzufügen</a>
	</main>
</body>
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
	<div class="footer-copyright py-3 text-center">
		<span>
			&#9400; Kiwano Projektteam, 2018
		</span>
	</div>
</footer>
</html>