<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Projektmanager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
	<script src="../js/bootstrap.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Kiwano Projektmanager</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Projekte</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/persons">Personen<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Reports</a>
          </li>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link" th:text="${#dates.format(#dates.createNow(), 'dd MMMM yyyy')}"></span>
            </li>
        </ul>
    </div>
    </nav>
    
    
	<main role="main" class="container mt-5">
			<form action="#" th:action="${postAction}" method="post" th:object="${personDetail}">
			<h1 th:text="${personDetail.name}  != Null ? ${personDetail.firstname} + ' '+ ${personDetail.name} : 'Neue Person'"></h1>
				
				<input type="hidden" name="personDetail.id" th:value="*{id}" /> 
				  <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control form-control-sm col-sm-6" placeholder="Name" name="personDetail.name" th:value="*{name}" required />
				    </div>
				  </div>
				  
				  <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Vorname</label>
				    <div class="col-sm-10">
				      <input type="text" th:value="*{firstname}" placeholder="Vorname" class="form-control form-control-sm col-sm-6" name="personDetail.firstname" required />
				    </div>
				  </div>
				  
				  <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Personenrolle</label>
				    <div class="col-sm-10">
				      <select class="form-control form-control-sm col-sm-6" name="personDetail.role" th:value="*{role}">
				      	<option value="Auftraggeber">Auftraggeber</option>
				      	<option value="Projektmanager">Projektmanager</option>
				      	<option value="Projektmitarbeiter">Projektmitarbeiter</option>
				      	<option value="Kunde">Kunde</option>
				      </select>
				    </div>
				  </div>
				  
				<button class="btn btn-primary" type="Submit">Speichern</button>
				<a class="btn btn-link" href="/persons">Zurück</a>
				
			</form>
		
	</main>
</body>
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
	<div class="footer-copyright py-3 text-center">
		<span>
			&#9400; Kiwano Projektteam, 2018
		</span>
	</div>
</footer>
</html>