<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Projektmanager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<script src="js/bootstrap.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Kiwano Projektmanager</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Projekte<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/persons">Personen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Reports</a>
          </li>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link" th:text="${#dates.format(#dates.createNow(), 'dd MMMM yyyy')}"></span>
            </li>
        </ul>
    </div>
    </nav>
	
	
    <main role="main" class="container mt-5">
    	<h1>Projektübersicht</h1>
    	<table class="table table-striped table-sm">
			<thead>
				<tr>
					<!--<th>ID</th>-->
					<th>Name</th>
					<th>Beschreibung</th>
					<th>Startdatum</th>
					<th>Enddatum</th>
					<th>Budget</th>
					<th>Aktuelle Kosten</th>
					<th>Status</th>
					<th>Aktionen</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project: ${list}">
					<!--<td th:text="${project.getId()}"></td>-->
					<td th:text="${project.getName()}"></td>
					<td th:text="${project.getDescription()}"></td>
					<td th:text="${project.getStartDate()}"></td>
					<td th:text="${project.getEndDate()}"></td>
					<td th:text="'CHF ' + ${#numbers.formatDecimal(project.getBudget(), 0, 'DEFAULT', 0, 'DEFAULT')}"></td>
					<td th:text="'CHF ' + ${#numbers.formatDecimal(project.getCurrentCosts(), 0, 'DEFAULT', 0, 'DEFAULT')}"
						th:classappend="|${project.getBudget()*0.75 > project.getCurrentCosts() ? 'text-success' : ''} 
										 ${project.getBudget()*0.75 < project.getCurrentCosts() ? 'text-warning' : ''} 
										 ${project.getBudget() < project.getCurrentCosts() ? 'text-danger' : ''}|">
					</td>
					<td th:text="${project.getStatus()}" 
						th:classappend="|${project.getStatus() == 'Grün' ? 'bg-success' : ''} ${project.getStatus() == 'Orange' ? 'bg-warning' : ''} ${project.getStatus() == 'Rot' ? 'bg-danger' : ''}|">
					</td>
					<td><!--<a href="" th:href="${'/project?id=' + project.getId()}" title="Steckbrief"><span class="fa fa-search"></span></a>-->
						<a href="" th:href="${'/project?id=' + project.getId()}" title="Bearbeiten"><span class="fa fa-pencil"></span></a>
						<a href="" th:href="${'/project/delete?id=' + project.getId()}" title="Löschen"><span class="fa fa-trash"></span></a>
					</td>
				</tr>
			</tbody>
		</table>

		<a href="/project">neues Projekt erstellen</a>
	</main>
</body>
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
	<div class="footer-copyright py-3 text-center">
		<span>
			&#9400; Kiwano Projektteam, 2018
		</span>
	</div>
</footer>
</html>