<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Projektmanager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<script src="js/bootstrap.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Kiwano Projektmanager</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Projekte<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Personen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Reports</a>
          </li>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link" th:text="${#dates.format(#dates.createNow(), 'dd MMMM yyyy')}"></span>
            </li>
        </ul>
    </div>
    </nav>
    
    
	<main role="main" class="container mt-5">
			<form action="#" th:action="${postAction}" method="post" th:object="${projectDetail}">
			<h1 th:text="${projectDetail.name} != Null ? ${projectDetail.name} : 'Neues Projekt'"></h1>
				
				<input type="hidden" name="projectDetail.id" th:value="*{id}" /> 
				  <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Projektname</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control form-control-sm col-sm-6" placeholder="Projektname" name="projectDetail.name" th:value="*{name}" required />
				    </div>
				  </div>
				  
				  <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Projektbeschreibung</label>
				    <div class="col-sm-10">
				      <input type="text" th:value="*{description}" placeholder="Projektbeschreibung" class="form-control form-control-sm col-sm-6" name="projectDetail.description" required />
				    </div>
				  </div>
				  
				  <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Startdatum</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control form-control-sm col-sm-6" placeholder="Startdatum" name="projectDetail.startdate" th:value="*{startdate}" required />
				    </div>
				  </div>
				  
				  <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Enddatum</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control form-control-sm col-sm-6" placeholder="Enddatum" name="projectDetail.enddate" th:value="*{enddate}" required />
				    </div>
				  </div>
				  
				  <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Budget</label>
				    <div class="col-sm-10">
				      <input type="number" step="0.01" class="form-control form-control-sm col-sm-6" placeholder="Enddatum" name="projectDetail.budget" th:value="*{budget}" />
				    </div>
				  </div>
				  
				  <input type="hidden" name="projectDetail.currentcosts" th:value="*{currentcosts}" /> 
				  
				  <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Projektstatus</label>
				    <div class="col-sm-10">
				      <select class="form-control form-control-sm col-sm-6" name="projectDetail.status" th:value="*{status}">
				      	<option th:selected="${projectDetail.status == 'Grün'}" value="Grün">Grün</option>
				      	<option th:selected="${projectDetail.status == 'Orange'}" value="Orange">Orange</option>
				      	<option th:selected="${projectDetail.status == 'Rot'}" value="Rot">Rot</option>
				      </select>
				      </div>
				  </div>
				  
				  <div class="row">
					  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Stakeholder</label>
					  <div class="col-sm-5">
						  <table class="table table-striped table-sm">
							<thead>
								<tr>
									<th>Vorname</th>
									<th>Name</th>
									<th>Rolle</th>
									<th style="width: 10%">Aktionen</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="person : ${personListByProject}">
									<td th:text="${person.getFirstname()}"></td>
									<td th:text="${person.getName()}"></td>
									<td th:text="${person.getRole()}"></td>
									<td>
										<a href="" th:href="${'/project/person/delete?personid=' + person.getId() + '&projectid='+projectDetail.id}" title="Löschen"><span class="fa fa-trash"></span></a>
									</td>
								</tr>
							</tbody>
						 </table>
					 </div>
				 </div>
				  
				  <div class="form-group row">
          			<label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Neue Personen</label>
          			<div class="col-sm-10">
	           			<select class="form-control form-control-sm col-sm-6" name="projectDetail.persons">
	           				<option selected value="">--bitte Person wählen--</option>
	          				<option th:each="person : ${personList}" th:value="${person.getId()}" th:text="${person.getFirstname() + ' ' + person.getName() + ' (' + person.getRole() + ')'}"></option>
	        			</select>
        			</div>
       			 </div>
				  
				<button class="btn btn-primary" type="Submit">Speichern</button>
				<a class="btn btn-link" href="/">Zurück</a>
				
			</form>
			
			
		
	</main>
</body>
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
	<div class="footer-copyright py-3 text-center">
		<span>
			&#9400; Kiwano Projektteam, 2018
		</span>
	</div>
</footer>
</html>