<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Projektmanager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<script src="js/bootstrap.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Kiwano Projektmanager</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Projekte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/persons">Personen</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/reports">Reports<span class="sr-only">(current)</span></a>
          </li>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link" th:text="${#dates.format(#dates.createNow(), 'dd MMMM yyyy')}"></span>
            </li>
        </ul>
    </div>
    </nav>
	
	
    <main role="main" class="container mt-5">
    	<h1>Fortschrittsübersicht</h1>
    	<table class="table table-sm">
    		<thead>
				<tr>
					<th style="width: 10%">Startdatum</th>
					<th style="width: 60%">Fortschritt</th>
					<th style="width: 10%">Enddatum</th>
					<th style="width: 5%">Risiken</th>
					<th style="width: 5%">Kritische</th>
					<th style="width: 10%">Aktionen</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project : ${list}">
					<td th:text="${project.getStartDate() + ' ' + project.getCompletedMilestones() + '/' + project.getAllMilestones() + ' Termine'}"></td>
					<td><div class="progress" style="height: 25px;">
  						<div class="progress-bar" 
  							th:text=${project.getName()} 
  							role="progressbar" 
  							th:style="${'width:'+ project.getCompletedMilestones()/(project.getAllMilestones()+0.0000000001)*100 + '%;'}" 
  							th:aria-valuenow="${project.getCompletedMilestones()}" 
  							th:aria-valuemin="0" 
  							th:aria-valuemax="${project.getAllMilestones()}" 
  							th:classappend="|${project.getStatus() == 'Grün' ? 'bg-success' : ''} ${project.getStatus() == 'Orange' ? 'bg-warning' : ''} ${project.getStatus() == 'Rot' ? 'bg-danger' : ''}|">
  						</div>
						</div>
					</td>
					<td th:text="${project.getEndDate()}"></td>
					<td th:text="${project.getAllRisks()}"></td>
					<td th:text="${project.getHighRisks()}" class="text-danger"></td>
					<td><!--<a href="" th:href="${'/project?id=' + project.getId()}" title="Steckbrief"><span class="fa fa-search"></span></a>-->
						<a href="" th:href="${'/reports/budget/project?id=' + project.getId()}" title="Budgetplan"><span class="fa fa-dollar" 
							<!--th:classappend="|${project.getBudget()*0.75 > project.getCurrentCosts() ? 'text-success' : ''} ${project.getBudget()*0.75 < project.getCurrentCosts() ? 'text-warning' : ''} ${project.getBudget() < project.getCurrentCosts() ? 'text-danger' : ''}|"-->
						</span></a>
						<a href="" th:href="${'/reports/milestone/project?id=' + project.getId()}" title="Terminplan"><span class="fa fa-calendar"></span></a>
						<a href="" th:href="${'/reports/risk/project?id=' + project.getId()}" title="Risikoplan"><span class="fa fa-exclamation-triangle"
							<!--th:classappend="|${project.getStatus() == 'Grün' ? 'text-success' : ''} ${project.getStatus() == 'Orange' ? 'text-warning' : ''} ${project.getStatus() == 'Rot' ? 'text-danger' : ''}|"-->
						</span></a>
					</td>
				</tr>
			</tbody>
		</table>
	</main>
</body>
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
	<div class="footer-copyright py-3 text-center">
		<span>
			&#9400; Kiwano Projektteam, 2018
		</span>
	</div>
</footer>
</html>