<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Projektmanager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css"/>
	<script src="../../js/bootstrap.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Kiwano Projektmanager</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Projekte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/persons">Personen</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/reports">Reports<span class="sr-only">(current)</span></a>
          </li>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link" th:text="${#dates.format(#dates.createNow(), 'dd MMMM yyyy')}"></span>
            </li>
        </ul>
    </div>
    </nav>
	
	
    <main role="main" class="container mt-5">
    	<h1><span th:text="${activeProject.getName()}"></span> Risikoplan</h1>
    	
    	<h4>Risiken gesamt: 
    		<span th:text="${allRisks}"></span></h4>
    	<h4>Davon Kritisch: 
    		<span th:text="${highRisks}"></span></h4>
    	</h4>
    	
    	<p th:text="${activeProject.getDescription()}"></p>
    	<br>
    	<table class="table table-striped table-sm">
			<thead>
				<tr>
					<!--<th>ID</th>-->
					<th>Beschreibung</th>
					<th>Eintrittswahrscheinlichkeit</th>
					<th>Schadensausmass</th>
					<th>Risikograd</th>
					<th style="width: 10%">Aktionen</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="risk : ${list}">
					<!--<td th:text="${risk.getId()}"></td>-->
					<td th:text="${risk.getDescription()}"></td>
					<td th:text="|${risk.getProbability() == 1 ? 'Niedrig' : ''}
								  ${risk.getProbability() == 2 ? 'Mittel' : ''}
								  ${risk.getProbability() == 3 ? 'Hoch' : ''}"
						th:classappend="|${risk.getProbability() == 1 ? 'text-success' : ''} 
										 ${risk.getProbability() == 2 ? 'text-warning' : ''} 
										 ${risk.getProbability() == 3 ? 'text-danger' : ''}|">
					</td>
					<td th:text="|${risk.getSeverity() == 1 ? 'Niedrig' : ''}
								  ${risk.getSeverity() == 2 ? 'Mittel' : ''}
								  ${risk.getSeverity() == 3 ? 'Hoch' : ''}"
						th:classappend="|${risk.getSeverity() == 1 ? 'text-success' : ''} 
										 ${risk.getSeverity() == 2 ? 'text-warning' : ''} 
										 ${risk.getSeverity() == 3 ? 'text-danger' : ''}|">
					</td>
					<td th:text="|${risk.getRating() == 1 ? 'Niedrig' : ''}
								  ${risk.getRating() == 2 ? 'Mittel' : ''}
								  ${risk.getRating() == 3 ? 'Hoch' : ''}"
						th:classappend="|${risk.getRating() == 1 ? 'text-success' : ''} 
										 ${risk.getRating() == 2 ? 'text-warning' : ''} 
										 ${risk.getRating() == 3 ? 'text-danger' : ''}|">
					</td>
					<td>
						<a href="" th:href="${'/reports/risk/project/delete?id=' + risk.getId()}" title="Löschen"><span class="fa fa-trash"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<br>
		<h1>Neues Risiko hinzufügen</h1>
		<form action="#" th:action="${postAction}" method="post" th:object="${riskDetail}">
				<input type="hidden" name="riskDetail.id" th:value="*{id}" /> 
				<input type="hidden" name="riskDetail.project_id" th:value="${activeProject.getId()}" />
				<input type="hidden" name="riskDetail.rating" value="0" />
					
				  <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Beschreibung</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control form-control-sm col-sm-6" placeholder="Beschreibung" name="riskDetail.description" th:value="*{description}" />
				    </div>
				 </div>
				 
				 <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Eintrittswahrscheinlichkeit</label>
				    <div class="col-sm-10">
				      <select class="form-control form-control-sm col-sm-6" name="riskDetail.probability" th:value="*{probability}">
				      	<option selected value="1">Niedrig</option>
				      	<option value="2">Mittel</option>
				      	<option value="3">Hoch</option>
				      </select>
				      </div>
				  </div>
				  
				  <div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Schadensausmass</label>
				    <div class="col-sm-10">
				      <select class="form-control form-control-sm col-sm-6" name="riskDetail.severity" th:value="*{severity}">
				      	<option selected value="1">Niedrig</option>
				      	<option value="2">Mittel</option>
				      	<option value="3">Hoch</option>
				      </select>
				      </div>
				      
				  </div>
				  <button class="btn btn-primary" type="Submit">Hinzufügen</button>
				  <a class="btn btn-link" href="/reports">Zurück</a>
			</form>
		
	</main>
</body>
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
	<div class="footer-copyright py-3 text-center">
		<span>
			&#9400; Kiwano Projektteam, 2018
		</span>
	</div>
</footer>
</html>